
body{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /* width: 100%; */
}


/* top navigation bar */
.toprow{
    display: flex;
    align-items: center;
    background-color: darkblue;
    padding: 30px;
    font-size: 23px;
    color: white;
    font-weight: bold;
    justify-content: space-between;
}

.topnav{
    display: flex;
    gap: 50px;
}

.tabs{
    display: flex;
    gap: 30px;
    padding: 20px;
    border-bottom: 1px solid black;
}

/* buttons */
#home, .tabbtn{
    font-size: 20px;
    border: none;
    padding: 20px;
}
#home{
    color: white;
    background-color: darkblue;
}
.tabbtn{
    background-color: transparent;
    border-radius: 40px;
}

/* main page */
.pagetitle{
    font-size: 50px;
    padding: 40px;
    color: darkblue;
}
