
body{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /* width: 100%; */
}

.toprow{
    display: flex;
    align-items: center;
    background-color: darkblue;
    padding: 30px;
    font-size: 23px;
    color: white;
    font-weight: bold;
    justify-content: space-between;
}

.topnav{
    display: flex;
    gap: 50px;
}

