
body{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /* width: 100%; */
}


/* top navigation bar */
.toprow{
    display: flex;
    align-items: center;
    background-color: darkblue;
    padding: 30px;
    font-size: 23px;
    color: white;
    font-weight: bold;
    justify-content: space-between;
}

.topnav{
    display: flex;
    gap: 50px;
}

.tabs{
    display: flex;
    gap: 30px;
    padding: 20px;
    border-bottom: 1px solid black;
}

/* buttons */
#home, .tabbtn{
    font-size: 20px;
    border: none;
    padding: 20px;
}
#home{
    color: white;
    background-color: darkblue;
}
.tabbtn{
    background-color: transparent;
    border-radius: 40px;
}

/* main page */
.pagetitle{
    font-size: 50px;
    padding: 40px;
    color: darkblue;
}

.boxtitle{
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.boxes{
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 30px;
    width: 500px; 
    /* change later */
}
.boxes>div{
    background-color: skyblue;
    color: black;
    border: 4px solid aqua;
    display: flex;
    padding: 20px;
    border-radius: 20px;
}

/* profile box */
.pfp{
    width: 80px;
    border-radius: 100px;
}
.userinfo{
    gap: 20px;
}
.nameandcontact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 17px;
}

/* basic info */
.basicinfo{
    flex-direction: column;
}
.infocols{
    display: flex;
    justify-content: space-between;
}
.infocol{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 80px;
    font-size: 19px;
}
.field{
    color: grey;
}
